body {
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Montserrat", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

/* HEADER */

header {
  position: relative;
  padding: 0 2rem;
}
.navbar {
  width: 100%;
  height: 70px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a img {
  width: 5.5rem;
}
.navbar .links {
  display: flex;
  gap: 2rem;
}
.navbar .toogle_btn {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.dropdown_menu {
  display: none;
}
.action_btn {
  background-color: #00e676;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.action_btn:hover {
  scale: 1.05;
  color: white;
}
.action_btn:active {
  scale: 1;
}
/* DROPDOWN MENU */
.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 240px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* SECTION */
.section_1 {
  width: 100%;
  height: 85vh;
  background-image: url(images/bannerp.png);
  background-size: cover ;
  background-position: center;
}

.section1 {
  width: 50%;
  height: 80vh;
}
.section1 h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  padding-top: 10rem;
  margin-left: 10rem;
  margin-bottom: 3rem;
}
.section1 p {
  font-size: 1.5rem;
  color: white;
  margin-left: 10rem;
  margin-bottom: 3rem;
}
.section1 .action_btn_section {
  margin-left: 10rem;

  background-color: #00e676;
  color: white;
  padding: 1rem 5rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.action_btn_section {
  scale: 1.05;
  color: white;
}
.action_btn_section:active {
  scale: 1;
}
/* SECTION DOS */
.section_2 {
  margin: auto 5px;
  margin-top: 2rem;
  width: 100%;
  height: 80vh;
  display: block;
}
.text_section2 h2 {
  display: block;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #1371a3;
  margin-bottom: 3rem;
}
.cards {
  width: 100%;
  margin: auto 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_container {
  background-color: #1371a3;
  border: 10px solid #1371a3;
  border-radius: 20px;
  width: 20%;
  height: 255px;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.img_card {
  width: 100%;
  height: 210px;
  display: block;

  border-radius: 10px;
}
.img_card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.text_img {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.text_img a {
  width: 80%;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 3200;
  text-align: center;
}
/* SECTION TRES */
.section_3 {
  background-image: url(images/bannerb.jpg);
  background-position: center;
  
  width: 100%;
  height: 100vh;
}
.container_section_3 {
  display: flex;
  width: 100%;
  height: 80%;
}
.text_section_3 {
  margin: auto;
  margin-right: 7rem;
  margin-left: 0%;
  width: 100%;
  height: 60%;
  background-color: white;
}
.img_section_3 {
  margin-top: 3rem;
  margin-left: 7rem;
  height: 100%;
  width: 100%;
}
.img_section_3 img {
  width: 100%;
  height: 550px;
}
.text_section_3 h2 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: #1371a3;
  font-size: 1.8rem;
  font-weight: bold;
}
.text_section_3 p {
  margin-top: 20px;
  width: 80%;
  color: #000000;
  font-size: 1.5rem;
  margin: auto;
  
}
/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .dropdown_menu {
    display: block;
  }
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }
  .navbar .toogle_btn {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* RESPONSIVE DESIGN SECTION 1 */

  
@media (max-width: 992px) {
  .section1 {
    width: 100%;
    height: 10vh;
  }
  .section1 h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding-top: 10rem;
    margin-left: 0rem;
    margin-bottom: 3rem;
  }
  .section1 p {
    font-size: 1.5rem;
    color: white;
    margin-left: 0rem;
    margin-bottom: 1rem;
  }
  .section1 .action_btn_section {
    margin-left: 0rem;
    background-color: #00e676;
    color: white;
    padding: 1rem 5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
  }
  .action_btn_section {
    scale: 1.05;
    color: white;
  }
  .action_btn_section:active {
    scale: 1;
  }
}
@media (max-width: 576px) {
    .section_1 {
        width: 100%;
        height: 85vh;
        background-image: url(images/bannerp.png);
        background-size: cover;
        background-position: left;
      }
  .section_1 {
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
  }
    .section1 {
        margin: auto;
        width: 80%;
        height: 100%;
        margin-bottom: 3rem;
    }
  .section1 h1 {
    width: 100%;
    
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding-top: 10rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
  }
  .section1 p {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-left: 0rem;
    margin-bottom: 3rem;
  }
  .section1 .action_btn_section {
    width: 80%;
    text-align: center;
    margin: auto;
    display: block;
    background-color: #00e676;
    color: white;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    box-sizing: border-box;
  }
  .action_btn_section:hover {
    scale: 1.05;
    color: white;
  }
  .action_btn_section:active {
    scale: 1;
  }
}
/* RESPONSIVE DESIGN SECTION 2 */
@media (max-width: 576px ){
    .section_2 {
        margin: auto 5px;
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        display: inline-block;
      }
      .text_section2 h2 {
        display: block;
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: #1371a3;
        margin-bottom: 3rem;
      }
      .cards {
        width: 100%;
        height: 100%;
        display: block;
        justify-content: center;
        align-items: center;
      }
      .card_container {
        background-color: #1371a3;
        border: 10px solid #1371a3;
        border-radius: 20px;
        width: 80%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
      }
      .img_card {
        width: 100%;
        height: 210px;
        display: block;
      
        border-radius: 10px;
      }
      .img_card img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
      .text_img {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
      }
      .text_img a {
        width: 80%;
        border: none;
        outline: none;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #ffffff;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1rem;
        font-weight: 3200;
        text-align: center;
      }
}
